<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.campanion.campuscompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherDetail"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MessDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".detail"
            android:parentActivityName=".EssentialList" />
        <activity
            android:name=".AboutTeacher"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShowTable"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddEdit"
            android:parentActivityName=".ShowTable"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EssentialList"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".TrainTiming"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AddEditHow"
            android:parentActivityName=".AddEdit"/>
    </application>

</manifest>